form {
    background-color: whitesmoke;
    max-width: 550px;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 525px;
}

h2 {
    font-family: Helvetica;
}
.journalTopicInput {
    max width: 500px;
    width: 500px;
}

.journalEntryInput {
    max width: 500px;
    width: 500px;
    height: 500px;
}

h2::first-letter {
    font-size: 200%;
}
h2::
}

.journalMoodInput {
    max width: 500px;
    width: 500px;
}