form {
    background-color: whitesmoke;
    max-width: 550px;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 525px;
}

h2 {
    font-family: Helvetica;
}
.journalTopicInput {
    max width: 500px;
    width: 500px;
}

.journalEntryInput {
    max width: 500px;
    width: 500px;
    height: 500px;
}

h2::first-letter {
    font-size: 200%;
}
h2::
}

.journalMoodInput {
    max width: 500px;
    width: 500px;
}

.journalEntryContainer {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    border: 2px solid black;
    margin: 10px;
    max-width: 375px;
    background-color: whitesmoke;
}

.journalEntry {
    border: 2px solid black;
    margin: 10px;
    height: auto;
    width: 350px;
    background-color: snow;
}